.vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.vertical-align-parent {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.border-box {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.button {
    background: @darkTealColor;
    background: linear-gradient(-180deg, @darkTealGradientStart 0%, @darkTealGradientEnd 100%) !important;
    border: 1px solid @darkTealGradientBorder;
    box-shadow: inset 0 1px 0 0 @darkTealGradientBoxShadow;
    border-radius: 5px;
    color: #fff !important;
    text-shadow: none !important;
    font-weight: normal;
    line-height: 20px;
    padding: 8px;


    i[class*="icon-"]:before, #right-side .button-sidebar-wide i[class^="icon-"]:before {
        color: #fff !important;
    }

    &:hover {
        background-image: linear-gradient(-180deg, @lightTealGradientStart 0%, @lightTealGradientEnd 100%) !important;
        color: #fff;
        background-position: 0 0;
        transition: none;
    }

    &.active {
        background-image: linear-gradient(-180deg, @orangeGradientStart 0%, @orangeGradientEnd 100%) !important;
        box-shadow: inset 0 1px 0 0 @orangeGradientBoxShadow;
        border: 1px solid @orangeGradientBorder;
        color: #fff;
        background-position: 0 0;
        transition: none;
    }

    &.rounded {
        border-radius: 40px;
        padding-left: 30px;
        padding-right: 30px;
    }
}

.alert {
  background-color: @backgroundColor;
  border: 0px none;
  color: @textColor;
}

.bold {
  font-weight: bold;
}
