@logo-image: "https://pfdk.github.io/logo/pfdk_logo_white.png";
@logo-image2x: "https://pfdk.github.io/logo/pfdk_logo_white.png";
@logo-background-size: 37%;
@logo-height: 50px;

@backgroundColor: #EAEAEA;
@textColor: #373737;
@linkColor: #034961;
@linkColorOnDarkBackground: #ffffff;

@darkTealColor: #034961;
@darkTealGradientStart:#034951;
@darkTealGradientEnd: #034971;
@darkTealGradientBorder: #012D3D;
@darkTealGradientBoxShadow: #53A6C2;

@lightTealColor: #A0B530;
@lightTealGradientStart:#A0B520;
@lightTealGradientEnd: #A0B540;

@orangeColor: #7A1E7D;
@orangeGradientStart:#7A1E70;
@orangeGradientEnd: #7A1E8D;
@orangeGradientBorder: #914920;
@orangeGradientBoxShadow: #FF832B;

@seperatorLightColor: #CC5378;
@seperatorDarkColor: #24A1B3;


@doneColor: #A0B530;
@doneGradientStart: #A0B520;
@doneGradientEnd: #A0B540;
@doneGradientBorder: #A0B530;
@doneGradientBoxShadow: #A0B530;
@doneHoverGradientStart: #CC5368;
@doneHoverGradientEnd: #CC5388;

//Used in peer review
@westSideColor : #FF8E1A;
@redWarningColor : #AD3341;
@tequilaColor : #FFE6CD;
@taraColor: #CDEEDB;
@mountainMeadowColor : #1FB25E;
//End used in peer review

@maxWidth: 1200px;
@leftColWidth: 230px;
@leftColIncludingIndicator: 238px;
@rightColWidth: 230px;
@rightColLargeWidth: 370px;
@columnPadding: 50px;
@minimumSidePadding: 10px;

@fontSize: 15px;
@lineHeight: 22px;
@iconWidth: 16px;

@contentTopMargin: 82px;