.btn {
    background: @darkTealColor;
    background: linear-gradient(-180deg, #327D96 0%, #195063 100%);
    border: 1px solid #012D3D;
    box-shadow: inset 0 1px 0 0 #53A6C2;
    border-radius: 5px;
    color: #fff !important;
    text-shadow: none !important;

    &:hover {
        color: #fff;
        background-position: 0 0;
        transition: none;
    }
}

.btn-published {
    background: #35842c
}
