
#application.ic-app {

    .module-sequence-footer {
        
        .module-sequence-footer-content {
            height: 55px;
            padding-top: 0px;
            
            a {
                padding: 0;
            }
        }
        

    }
    
    #footer {
        display: block;
    }
}