.home {

    #application.ic-app {
        
        #right-side {
            padding-top: 70px;
            
            #course_show_secondary {
                
                h2 {
                    padding-left: 12px;
                    padding-right: 12px;
                }

                ul {
                    padding-left: 12px;
                    padding-right: 12px;
                }
            }
        }
    }
}

#application.ic-app {
    
    #right-side {
        box-sizing: border-box;
        width: auto;
        
        .events_list {
            
            h2 {
                padding-left: 12px;
                padding-right: 12px;
            }
            
            .right-side-list {
                
                li {
                    padding-left: 12px;
                    padding-right: 12px;
                }
            }
        }
        
        .page-action-list {

            li {

                a {
                    
                    &:hover, &:active, &:focus  {
                        color: #fff;
                        background-image: linear-gradient(-180deg,#70a6b8 0,#296073 100%)!important;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

