body {
    background-image: none !important;
    background: @backgroundColor !important;
    color: @textColor;
    font-size: @fontSize;
    line-height: @lineHeight;
}

a {
    color: @linkColor;
}

#dashboard {
    display:none;
}

#my_courses_table {
    display: none;
}


#identity {
    background-image: none;
    box-shadow: none;
    border: none;
}

#left-side {
    width: @leftColIncludingIndicator;
    border: none !important;
}

#content {
    padding: 10px 0 0 0 !important;
}

#main {
    background: @backgroundColor;
    border: none !important;
    max-width: 1200px;
}

.with-right-side #main {
    max-width: @maxWidth - @rightColWidth - @columnPadding;
    margin-right: @rightColWidth + @columnPadding;
}

.with-left-side #main {
    max-width: @maxWidth - @leftColWidth - @rightColWidth - 2*@columnPadding; /* Same width as for pages with right column in increase readability */
    margin-left: 305px;
}

.with-left-side.with-right-side #main {
    max-width: @maxWidth - @leftColWidth - @rightColWidth - 2*@columnPadding;
}


.home #main {
    margin-left: 0;
    max-width: @maxWidth - @rightColLargeWidth - @columnPadding;
    /*  max-width: @maxWidth - @leftColWidth - @rightColLargeWidth - 2*@columnPadding; */
}

.home #left-side {
    display: none;
}

#right-side {
    padding-left: @columnPadding;
    width: @rightColWidth;
}

.home #right-side {
    width: @rightColLargeWidth;
}


#wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.with-left-side #wrapper {
    margin-left: auto;
}

#breadcrumbs {
    display: none;
}

.pages.show .show-content {
    padding: 0;
}

.header-bar {
    background: @backgroundColor;
    border: none;
}


.with-right-side #breadcrumbs + #right-side-wrapper {
    margin-top: 0;
}