.home {

    #application.ic-app {
        
        #right-side {
            padding-top: 70px;
        }
    }
}

#application.ic-app {
    
    #right-side {
        box-sizing: border-box;
        width: auto;
    }
}