#application.ic-app {
  .module-sequence-footer {
    .module-sequence-footer-content {
      height: 55px;
      padding-top: 0;
      display: flex;
      justify-content: center;

      a {
        padding: 0;
      }

      .module-sequence-footer-button--previous a ,
      .module-sequence-footer-button--next a {
        border: 1px solid #bbbbbb;
        box-shadow: none;
        width: 70px;
        line-height: 30px;
        margin-top: 5px;
        text-align: left;
        font-weight: 400;

        i {
          display: none;
        }
      }

      .module-sequence-footer-button--previous a{
        background: @darkTealColor url('https://server/vector_images/mmooc-icon-arrow-left-white.svg') 10px center no-repeat !important;
        background-size: 20px;
        padding-left: 40px;
        margin-right: 5px;
      }
      .module-sequence-footer-button--previous {
        float: none !important;
        min-height: 40px;
        margin-left: 5px;
      }


      .module-sequence-footer-button--next {
        float: none !important;
        min-height: 40px;
      }

      .module-sequence-footer-button--next a {
        background: @darkTealColor url('https://server/vector_images/mmooc-icon-arrow-right-white.svg') no-repeat 80px center !important;
        background-size: 20px;
        padding-right: 40px;
        text-indent: 30px;
      }

      #mark-as-done-checkbox {
        float: left;
      }
    }
  }

  footer#footer {
    display: none;
  }

  footer#mmooc-footer {
    position: relative;
    top: 60px;
    display: block;
    clear: both;
    //        width:900px;
    margin-left: 0;

    .mmooc-license {
      text-align: left;
      width: 100%;

      p.public-license-text {
        font-size: 12px;
        padding-left: 0;
        text-align: center;
      }
    }
  }
}

//Submission iframe - do no want double footer
body.is-inside-submission-frame {
  background-color: #fff !important;

  #application.ic-app {
    footer#mmooc-footer {
      display: none;
    }

    #submission_preview.paper {
      margin: -27px auto 0 0;
      position: relative;
      top: 27px;
      padding-left: 10px;
    }
  }
}
