.mmooc-tag {
  padding: 4px 16px;
  border-radius: 16px;

  label {
    margin: 0;
    font-family: Roboto;
    font-size: 14px;
  }
}

.mmooc-tag-teal {
  background-color: @darkTealTransparent;

  label {
    color: @darkTealColor;
  }
}

.mmooc-tag-green {
  background-color: @greenTransparent;

  label {
    color: @greenColor;
  }
}

.mmooc-tag-azur {
  background-color: @azurTransparent;

  label {
    color: @black;
  }
}
