@import './colors.scss';

.custom-accordion {
    display: flex;
    width: 100%;
    height: fit-content;
    padding-right: 0px;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid var(--stttefarger-gr-600, #999);
    color: var(--stttefarger-svart, #1A1A1A);
    background-color: #FFF ;
    /* Vanlig/Brødtekst - uthevet */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */


}

.custom-accordion-panel {
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    display: none;

}

.active {
    display: inline;
}