@import "./colors.scss";
@import "./override-login-logout-Canvas-elements";

.ic-app-course-menu {
  width: fit-content !important;
  position: relative !important;
}

#left-side {
  width: fit-content !important;
  max-width: 40rem !important;
  padding: 1rem 2rem !important;
  border: none !important;

}

.ef-quota-usage {
  min-width: unset !important;
  justify-content: center !important;
} 
.ef-main {
  border: 1px solid rgb(199, 205, 209);
}
.ef-header {
  border-bottom: unset !important;
}

.ef-footer {
  border-top: unset !important;
}

.ef-actions {
  max-width: -webkit-fill-available !important;
}

.ef-search-form {
  .Button {
    max-height: 38px;
  }
}
.ef-select-col {
  display:none;
}
.ef-links-col {
  .al-trigger {
    opacity: 1 !important;
  }
  button {
    padding: 8px !important;
  }
  .hiddenState, .unpublished, .published {
    margin-right: 8px;
  }
}

#content > div > div.ef-footer.grid-row {
  margin-left: unset !important;
  margin-right: unset !important;
}

#content > div > div.ef-footer {
  padding: unset !important;
  .grid-row {
    margin: unset !important;
  }
}

#content > div > div.ef-footer.grid-row > .col-xs-6 {
  flex-basis: unset !important;
  width: 100% !important;
  max-width: unset !important;
  padding: unset !important;
  
  .col-xs-3 {
    flex-basis: unset !important;
    max-width: 70%;
    width: 100%;
  }
  .col-xs-9 {
    flex-basis: unset !important;
    max-width: unset;

  }
}

body.with-left-side:not(.useFullWidth) {
  #application.ic-app {
    #main {
      min-width: auto;
      margin: 0 auto;
    }
  }
}

@media (max-width: 48rem) {
  body.course-menu-expanded:not(.ic-no-flex-layout):not(.embedded):not(.is-inside-submission-frame) .ic-Layout-columns {
    flex-direction: column !important;
  }
}
.ic-Layout-contentWrapper {
  max-width: 100rem !important;
}

#right-side {
  min-width: 12.5rem !important;
}

@media not all and (min-width: 46.875rem) {
  #left-side {
    display: unset!important;

  }
}

@media ((max-width: 46.875rem)) {
  .ic-Layout-wrapper {
    flex-direction: column !important;
  }
  .ic-Layout-columns{
    flex-direction: column !important;
  }

}
.ic-Layout-wrapper {
  margin-left: unset !important;
  width: 100%;
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  max-width: unset !important;
  min-height: 0;

}

.admin-button {
  width: fit-content !important;
  margin-left: 1.25rem;
}

.ic-Layout-watermark {
  display: none !important;
}

.pages.show,
.show-content,
.user_content,
.mceContentBody {
  overflow-x: visible !important;
}

#application.ic-app {
  margin-left: unset !important;
  margin-right: unset !important;
  justify-content: center !important;

  display: flex !important;
  flex-direction: column !important;

  .ic-app-nav-toggle-and-crumbs {
    display: none; // Hide toggling of menu
  }
}

.ic-app-main-content {
  margin-top: 1rem !important;
  width: fit-content !important;
  min-height: 85vh !important;
  max-width: 100rem !important;
  justify-content: center;
  box-sizing: border-box !important;
}

.useFullWidth{
  min-width: unset !important;
}
@media screen and (max-width: 75rem) {

  body:not(.ic-no-flex-layout):not(.embedded) .ic-app-main-content {
    flex: auto;
    width: 100% !important;
  }
  .ic-Layout-contentWrapper{
    width: 100% !important;
    min-width: unset !important;
  }
  #wiki_page_show {
    width: 100% !important;
    min-width: unset !important;
  }
}

.ic-Layout-columns {
  width: 100% !important;
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  justify-content: center !important;
  margin-left: unset !important;
}

.ic-app-course-menu {
  position: relative !important;
  top: unset !important;
  right: unset !important;

}

#wrapper {
  min-height: 70vh !important;
  padding: 0 !important;
}


.custom-next-button-wrapper {
  justify-content: center !important;
  display: flex !important;
}

.module-sequence-footer {
  justify-content: center !important;
  padding-bottom: 2rem !important;
  height: fit-content !important;
}

#custom-nav-buttons-wrapper {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding-bottom: 2rem !important;
  gap: 4rem !important;

}

.module-sequence-footer-content {
  display: block !important;
  justify-content: center !important;
  align-items: center !important;
  padding-bottom: 2rem !important;
  gap: 4rem !important;
}

.entry-content {
   border-bottom: .0625rem solid #c7cdd1
}

#application {
  background-color: $color-white !important;
  box-sizing: border-box !important;
}



.theme-editor {
  display: unset !important;
  flex-direction: unset !important;
}

.user-settings-wrapper {
  width: 100% !important;
  margin-left: 0 !important;
  max-width: unset !important;
  justify-content: center !important;
}

.user-settings-main {
  width: unset !important;
}

#wiki_page_show {
  width: 100% !important;
  max-width: 87.5rem !important;

}

#self_unenrollment_dialog{
  padding: 2rem !important;
}

.button-container{
  gap: 1rem !important;
  display: flex !important;
}

.fixed-bottom {
  position: fixed;
  z-index: 100000;
  left: 0;
  width: 100vw;
  bottom: 0;
}

.add_access_token_link{
  width: fit-content !important;
}

body.notifications, body.profile, body.profile_settings, body.content_shares, body.qr_mobile_login, body.past_global_announcements {
  #application.ic-app {
    #main {
      display: flex !important;
      flex-direction: column !important;
      width: 100% !important;

      #left-side {
        display: block !important;
        width: 100% !important;
        max-width: 100% !important;
        padding: 0px !important;

        #sticky-container {
          padding: 0px !important;

          nav {
            display: flex;
            align-items: center;
            justify-content: center;
            background: #f1f1f1;
            padding: 20px 40px;
            padding-right: 24px;

            @media not all and (min-width: 768px) {
              justify-content: flex-start;
              padding-left: 12px;
              padding-right: 12px;
            }

            ul {
              display: flex !important;
              flex-direction: row !important;
              flex-wrap: wrap !important;

              @media not all and (min-width: 768px) {
                flex-direction: column !important;
              }

              li {
                display: flex;

                a {
                  color: #303030 !important;
                  text-decoration: none !important;
                  margin: 4px 12px;
                  padding: 4px 2px;
                  border-bottom: 2px solid transparent !important;

                  &.active, &:hover, &:focus {
                    color: #00468e !important;
                    border-bottom: 2px solid #00468e !important;
                    border-left: unset !important;
                    border-radius: unset !important;
                  }

                  @media not all and (min-width: 768px) {
                    margin: 4px 0px;
                    padding: 4px 0px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
