@import "./colors.scss";
@import "./override-login-logout-Canvas-elements";


// Uncomment this to see the positioning and size of all elements
/* * {
  outline: .0625rem solid darkslategrey !important;
}  */
  body > div.ui-widget-overlay {
    background-color: rgba(39,53,64,.75);
}
#main {
  .registration-content{
    background-color: white !important;
  }
  #registration_content{
    background: white;;

    .registration-content {
      display: flex;
      height: 100%;
      margin: unset;
      flex-direction: column-reverse;
      justify-content: flex-start;
    }
      #registration_options {
      display: flex;
      justify-content: flex-end;
      flex-direction: column-reverse;
      height:450px;
      width:600px;
      padding: 0;
      place-self: center;
      box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .85), 0 8px 16px -8px rgba(0, 0, 0, .3);
      background: unset;
      background-color: #2e3c51;
      border-radius: .5rem;
      @media (max-width: 30rem) {
        width: 90%;

      }
      .canvas_logo {
        margin-top: 25px;
        place-self: center;
        width: 300px;
        height:auto;
        @media (max-width: 30rem) {
        width: 65%;
      }
      }
      .registration-button-container{
        display: flex;
        flex-direction: row;
        place-content: center;
        gap: 1.5rem;
        height: 100px;
        margin-top: 180px;

        @media (max-width: 30rem) {
          gap: 0.5rem;
      }
        a {
          position: unset;
          align-content: center;
          justify-content: center;
          place-self: center;
          text-align: center;
          text-indent: unset;
          background-image: unset;
          border-radius: .5rem;
          right: unset;
          left: unset;
          height:60px;
          box-sizing: border-box;
          box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .85), 0 8px 16px -8px rgba(0, 0, 0, .3);
          @media (max-width: 30rem) {
            width: 35%;
      }
        }
      }
      p {
        position: absolute;
        left:50%;
        top:45%;
        transform: translate(-50%, -50%);
        width: 80%;
        color: white;
        font-size: 16px;
        @media (max-width: 30rem) {
          width:90%;
          font-size: 16px;
        } 
      }
      h2 {
        position: absolute;
        text-indent: unset;
        color: white;
          top: 35%;
          left: 50%;
          transform: translate(-50%, -50%);
          @media (max-width: 30rem) {
            top:25%;
          } 
      }

      
      #signup_student{
        
      }
      #signup_teacher{

      }
      #signup_parent{
        background: unset;
        width:100%;
        box-shadow: unset;
      }
    }
  } 
}
#registration_header {
  display: flex;
  box-sizing: border-box;
  justify-content: flex-end;
  flex-direction: row;
  margin-bottom: 30px;
  height: 100px !important;
  padding: 12px 0;
  @media (max-width: 30rem) {
    height: 60px !important;
  }
  .registration-content{
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin:0;
  }
  #registration_login {
   position: unset;
  }
  h1 {
    padding: unset;
    font-size: 24px;
    &::before {
      content: "Kompetanseportalen"
    }
    a {
      display: none;
    }
  }
}

.ui-dialog {
  border-radius: 0.8rem;
  .ui-dialog-buttonset {
    display: flex;
    flex-direction: row;
    place-content: center;
    
  }
  .form-horizontal .control-group .controls {
    display: flex;
    margin: unset;
  }
}

.ic-app-course-menu {
  width: fit-content !important;
  position: relative !important;
}

#left-side {
  width: fit-content !important;
  max-width: 40rem !important;
  padding: 1rem 2rem !important;
  border: none !important;

}

.ef-quota-usage {
  min-width: unset !important;
  justify-content: center !important;
} 
.ef-main {
  border: 1px solid rgb(199, 205, 209);
}
.ef-header {
  border-bottom: unset !important;
}

.ef-footer {
  border-top: unset !important;
}

.ef-actions {
  max-width: -webkit-fill-available !important;
}

.ef-search-form {
  .Button {
    max-height: 38px;
  }
}
.ef-select-col {
  display:none;
}
.ef-links-col {
  .al-trigger {
    opacity: 1 !important;
  }
  button {
    padding: 8px !important;
  }
  .hiddenState, .unpublished, .published {
    margin-right: 8px;
  }
}

#content > div > div.ef-footer.grid-row {
  margin-left: unset !important;
  margin-right: unset !important;
}

#content > div > div.ef-footer {
  padding: unset !important;
  .grid-row {
    margin: unset !important;
  }
}

#content > div > div.ef-footer.grid-row > .col-xs-6 {
  flex-basis: unset !important;
  width: 100% !important;
  max-width: unset !important;
  padding: unset !important;
  
  .col-xs-3 {
    flex-basis: unset !important;
    max-width: 70%;
    width: 100%;
  }
  .col-xs-9 {
    flex-basis: unset !important;
    max-width: unset;

  }
}

body.with-left-side:not(.useFullWidth) {
  #application.ic-app {
    #main {
      min-width: auto;
      margin: 0 auto;
    }
  }
}

@media (max-width: 48rem) {
  body.course-menu-expanded:not(.ic-no-flex-layout):not(.embedded):not(.is-inside-submission-frame) .ic-Layout-columns {
    flex-direction: column !important;
  }
}
.ic-Layout-contentWrapper {
  max-width: 100rem !important;
}

#right-side {
  min-width: 12.5rem !important;
}

@media not all and (min-width: 46.875rem) {
  #left-side {
    display: unset!important;

  }
}

@media ((max-width: 46.875rem)) {
  .ic-Layout-wrapper {
    flex-direction: column !important;
  }
  .ic-Layout-columns{
    flex-direction: column !important;
  }

}
.ic-Layout-wrapper {
  margin-left: unset !important;
  width: 100%;
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  max-width: unset !important;
  min-height: 0;

}

.admin-button {
  width: fit-content !important;
  margin-left: 1.25rem;
}

.ic-Layout-watermark {
  display: none !important;
}

.pages.show,
.show-content,
.user_content,
.mceContentBody {
  overflow-x: visible !important;
}

#application.ic-app {
  margin-left: unset !important;
  margin-right: unset !important;
  justify-content: space-between !important;
  display: flex !important;
  flex-direction: column !important;

  .ic-app-nav-toggle-and-crumbs {
    display: none; // Hide toggling of menu
  }
}

.ic-app-main-content {
  margin-top: 1rem !important;
  min-height: 85vh !important;
  justify-content: center;
  box-sizing: border-box !important;
}

#access_tokens_holder {
  overflow-x: auto !important;
}

#not_right_side {
  #content {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    #qr_login_container {
      max-width: fit-content !important;
      align-self: center !important;
    }
    .css-1rcgr3a-view--flex-flex, .css-mum2ig-text {
      align-self: center !important;
    }
    .css-1fnhbjn-view-flexItem {
      max-width: 85%;
    }
    .css-pljkwv-view-heading {
      font-size: 1.7rem;
    }
    .css-mum2ig-text {
      font-size: 16px;
    }
    .button-area-block {
      width: unset !important;
      flex-direction: unset !important;
      margin-top: 9px;
    }
    p:nth-child(8) {
      display: flex;
      gap: 1rem;
    }
    // Instillinger -> Funksjonsvalg 
    .css-10d73cs-view--flex-flex {
      flex-direction: column !important;
      max-width: 450px;
    }
    .css-183j57y-formFieldLayout {
      flex-direction: column !important;
      width: 100% !important;
    }
    .css-dz0svk-view-flexItem, .css-10inoki-formFieldLayout {
      width: 100% !important;
    }
    .css-1iimhyf-view--inlineBlock-baseButton {
      width: 100% !important;
    }
    //Instillinger -> Table
    .profile_table {
      border-collapse: separate;
      border-spacing: 0 12px;
      th {
        display: flex;
        text-align: left;
        label {
          font-weight: bold;
          position: relative;

        }
      }
      td {
        line-height: 18px;
        .edit_or_show_data {
          font-style: italic !important;
          color: #949292;
        }
      }
    }
  }
}

.useFullWidth{
  min-width: unset !important;
}
@media screen and (max-width: 75rem) {

  body:not(.ic-no-flex-layout):not(.embedded) .ic-app-main-content {
    flex: auto;
    width: 100% !important;
  }
  .ic-Layout-contentWrapper{
    width: 100% !important;
    min-width: unset !important;
  }
  #wiki_page_show {
    width: 100% !important;
    min-width: unset !important;
  }
}
.ic-Layout-columns {
  width: 100% !important;
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  justify-content: center !important;
  margin-left: unset !important;
}

.ic-app-course-menu {
  position: relative !important;
  top: unset !important;
  right: unset !important;

}

#wrapper {
  min-height: 70vh !important;
  padding: 0 !important;
}

#main:has(#registration_content){
  background-color: white;
  height: 100vh;
  #customFooter {
    position: sticky;
    top: 100%;
  }
}

.custom-next-button-wrapper {
  justify-content: center !important;
  display: flex !important;
}

.module-sequence-footer {
  justify-content: center !important;
  padding-bottom: 2rem !important;
  height: fit-content !important;
}

#custom-nav-buttons-wrapper {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding-bottom: 2rem !important;
  gap: 4rem !important;

}

.module-sequence-footer-content {
  display: block !important;
  justify-content: center !important;
  align-items: center !important;
  padding-bottom: 2rem !important;
  gap: 4rem !important;
}

.entry-content {
   border-bottom: .0625rem solid #c7cdd1
}

#application {
  background-color: $color-white !important;
  box-sizing: border-box !important;
}



.theme-editor {
  display: unset !important;
  flex-direction: unset !important;
}

// Admin new theme menu

.css-161w609-menu {
  overflow: hidden !important;
}

.css-7y752m-menuItem {
  padding-inline-start: 0.8rem !important;
}

.css-zptgsl-menuItem__label {
word-break: break-all !important;
}

.css-qb5lup-view-table {
    table-layout:fixed;
    overflow-wrap: break-word;
}

.user-settings-wrapper {
  width: 100% !important;
  margin-left: 0 !important;
  max-width: unset !important;
  justify-content: center !important;
}

.user-settings-main {
  width: unset !important;
}

#wiki_page_show {
  width: 100% !important;
  max-width: 87.5rem !important;

}

#self_unenrollment_dialog{
  padding: 2rem !important;
}

.button-container{
  gap: 1rem !important;
  display: flex !important;
}

.fixed-bottom {
  position: fixed;
  z-index: 100000;
  left: 0;
  width: 100vw;
  bottom: 0;
}

.add_access_token_link{
  width: fit-content !important;
}

.ic-ThemeCard {
  word-break: break-word;
}

body.notifications, body.profile, body.profile_settings, body.content_shares, body.qr_mobile_login, body.past_global_announcements {
  #application.ic-app {
    #main {
      display: flex !important;
      flex-direction: column !important;
      width: 100% !important;

      #left-side {
        display: block !important;
        width: 100% !important;
        max-width: 100% !important;
        padding: 0px !important;

        #sticky-container {
          padding: 0px !important;

          nav {
            display: flex;
            align-items: center;
            justify-content: center;
            background: #f1f1f1;
            padding: 20px 40px;
            padding-right: 24px;

            @media not all and (min-width: 768px) {
              justify-content: flex-start;
              padding-left: 12px;
              padding-right: 12px;
            }

            ul {
              display: flex !important;
              flex-direction: row !important;
              flex-wrap: wrap !important;

              @media not all and (min-width: 768px) {
                flex-direction: column !important;
              }

              li {
                display: flex;

                a {
                  color: #303030 !important;
                  text-decoration: none !important;
                  margin: 4px 12px;
                  padding: 4px 2px;
                  border-bottom: 2px solid transparent !important;

                  &.active, &:hover, &:focus {
                    color: #00468e !important;
                    border-bottom: 2px solid #00468e !important;
                    border-left: unset !important;
                    border-radius: unset !important;
                  }

                  @media not all and (min-width: 768px) {
                    margin: 4px 0px;
                    padding: 4px 0px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// Custom css to copy missing menu form "../files"
#file-menu{
  display: flex;
  max-width: 100%;
  width: 100vw;
  flex-direction: row;
  .file-menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 24px 20px 40px;
    background-color: #f1f1f1;
    @media (max-width:768px) {
      flex-direction: column;
      justify-content: flex-start;
      padding-left: 0;
      
    }
    #section-tabs {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      @media (max-width:768px) {
        flex-direction: column;
        justify-content: flex-start;
        margin-left: 0;
    }
      .section {
        color: black;
        width: fit-content;
        a {
          display: block;
          color: black;
          margin: 4px 12px;
          padding: 4px 2px;
          
          &:hover {
            color:#00468e;
            border-bottom: 2px solid #00468e;
            text-decoration: none;
          }
        }
        &:nth-child(3) {
          a{
            color:#00468e;
            border-bottom: 2px solid #00468e;
          }
        }
      }
    }
  }
}