@import "./hide-show-effect.scss";
@import "./colors.scss";
@import './typography.scss';

.custom-reveal-wrapper{
    flex-direction: column;
    height: fit-content;
	width: auto;
    align-items: flex-start;
    flex: 1 0 0;
    border-radius: 3px;
    background: $color-white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin: 1rem 0 1rem 0;
    @include hide-show-effect;
}

.custom-reveal-button {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: -webkit-fill-available;
    width: -moz-available;
    padding: 0.5rem;
    border: solid 2px $color-black;
    font-family: Inter;
    text-decoration: none !important;
    color: $color-black;
    background: $color-white;
    cursor: pointer;

    &:hover {
        color: $color-black;
    }
    &:focus {
        color: $color-black;
        outline: none !important;
    }
}


.custom-reveal-button-img {
    width: 1.5rem;
    height: 1.5rem;
}

.custom-reveal-content {
    flex: 1 0 0;
    color: $color-black;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding: 1rem;
    @include hide-show-effect;
}
