@import '../typography.scss';
@import '../colors.scss';

.custom-segments {
  position: relative;
  border: 2px solid lightgray;
}
.custom-segments__tabHeaders{
  overflow-x: auto;
  margin-bottom: 1rem;
}

.custom-segments__segments {
  border-bottom: 0.5rem solid $color-grey-400;
  white-space: nowrap;
  margin: 0 !important;
  width: fit-content;
  overflow-x: initial !important;
}

.custom-segments__segment {
  display: inline-flex;
  position: relative;
  padding: 10px;
  border-right: 1px solid lightgray;
  cursor: pointer;
  color: #333;
  text-decoration: none;
  font-weight: 500;
  &:hover {
    background-color: $color-grey-400;
  }

}
.custom-segments__segment a{
  color: $color-black;
  text-align: center;
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;

  line-height: normal;
  text-decoration: none !important;
  &:focus {
    outline: none;
  }
}

.custom-segments__segment.active {
  margin-bottom: -1rem;
  border-bottom: 0.5rem solid $primary-hover-color;
  color: $color-white;
    overflow-x: initial !important;
}

.custom-segments__pane {
  display: none;
  border: none;
  height: fit-content;
  background-color: $color-grey-400;
  padding:10px;
}

.custom-segments__pane.active {
  display: block;
  background-color: $color-white;
}
