.tooltip {
    position: relative;
    align-content: center;
    z-index: unset;
    display: inline-flex;
}


.tooltip-underline {
    border-bottom: 0.5px dashed #00468E;
    margin-right: 2px;
    cursor: pointer;
}
.question-mark {
    border-bottom: none;
    cursor: pointer;
}

.tooltiptext-box {
    display: none;
    position: absolute;
    bottom: 0;
    width: auto;
    min-width:fit-content;
    border: 1px solid lightgrey;
    border-radius: 4px;
    margin-bottom: 25px !important;
    background: white;
    color: black;
    border-radius: 6px;
    padding: 1rem;
    margin: 0.5rem 0 0.5rem 0;
    gap: 1rem;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
    .close-tooltip {
        cursor: pointer;
        float: right;
        @media (pointer: fine) {
            display: none;
        }
    }

    img {
        max-width: unset;
    }
}
