#application.ic-app {
    #discussion-toolbar {
 
        &.toolbarView {
            background-color: transparent;
        }
    }
}

body.mmooc-group-discussion {
    #application.ic-app {
        .mmooc-back-button {
            margin-top: 30px;
        }
        .getTeachersHelpContainer {
            float: right;
            margin-top: -50px;
        }
    }
}

body.discussions {
  #open-discussions {
    .unread {
      border-left: 8px solid @linkColor;
      padding-left: 27px;
    }
  }
  .btn-discussion-search {
    padding: 18px;
    border-radius: 0 5px 5px 0;
    margin-left: -5px;
    background: url("https://server/vector_images/mmooc-icon-search.svg") no-repeat center center, linear-gradient(-180deg,#327d96 0,#195063 100%) no-repeat!important;
    background-size: 18px, 100% !important;
  }
}