.discussion-collections {
    background: none !important;
    border:none;

    .discussion {
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.35);
        border: none;
        border-radius: 0;
        padding: 20px 35px;
        margin-bottom: 12px;
    }

    .discussion-list {
        border:none;
        padding:0;
    }

    .discussion.no-content {
        margin:0;
    }
}

.announcements {
    .discussion-unread-container {
        display: none;
    }
}

.discussions {
    #searchTerm {
        width: 250px;
    }

    .discussion-unread-status {
        width: 110px;
    }

    .discussion-date-available, .discussion-due-date {
        width: auto;
    }

    .topic {
        .discussion-entry-reply-area {
            border: 0 none;
            border-radius: 0 0 3px 3px;
            margin: 0;
            padding-bottom: 1px;
            padding-top: 1px;
        }
    }
}
.discussion_entry>.discussion-entry-reply-area {
    border:none;
}

.topic .entry-content {
    border:none;
}

.publication-date {
    font-size:14px;
    margin-bottom:5px;
}

.discussion-read-state-btn {
    display:none;
}

.discussion-entries .entry {
    margin:0;
}

.read-unread-button {
    font-size:13px;
    width:110px;
    height:25px;
    text-align:center;
    line-height:25px;
    color:black;
    cursor:pointer;
    position:absolute;
    z-index:1;
    right:75px;
    top:38px;
    left:inherit;
    text-decoration:none !important;
    border:1px solid black;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.read-unread-button.read {
    background:#0096db;
    color:white;
    border:1px solid #0096db;
}

.entry.collapsed .read-unread-button {
    right:130px;
    top:36px;
}

.collapse-discussion {
    outline:0;
}

.new-and-total-badge {
    .new-items  {
        background: #004A5F;
        margin-right: 8px;

        &:after {
            content: " uleste";
        }
    }

    .total-items {
        &:after {
            content: " svar";
        }
    }
}

#discussionsFilter {
    display: none;
}

#discussion-toolbar {
    #collapseAll, #expandAll {
        display: none;
    }

    label[for="onlyUnread"] {
        display: none;
    }

    &.toolbarView .headerBar {
        background: none;
        border:none;
    }

    &.toolbarView .headerBar.sticky {
        background: #FFF;
        height: 65px !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        max-width: none !important;
    }

}

#discussion-managebar {
    display: none;
}

#discussion-search {
    margin-left: 14px;
}

#edit_discussions_settings {
    display: none;
}

#availability_options {
    display: none;
}

#editor_tabs {
    display: none;
}

#discussion_topic {
  .discussion-subtitle,
  div.discussion-fyi,
  .avatar {
    display: none;
  }
}

.discussionTopicIndexList {
    .discussion-topic {
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.35);
        border: none;
        border-radius: 0;
        padding: 20px 35px;
        margin: 0 5px 12px 5px;
        background-color: #fff !important;
        position: relative;

        &.unread:before {
            font-size: 25px;
            content:"\2022";
            position: absolute;
            color: @linkColor;
            top: 35px;
            left: 15px;
        }

        .discussion-title {
            font-family: 'Roboto Slab', 'Helvetica Neue', serif;
        }

        .discussion-author {
            font-size: 12px;
        }
    }
}


