#application.ic-app {
    #discussion-toolbar {
 
        &.toolbarView {
            background-color: transparent;
        }
    }
}

body.mmooc-group-discussion {
    #application.ic-app {
        .mmooc-back-button {
            margin-top: 30px;
        }
        .getTeachersHelpContainer {
            float: right;
            margin-top: -50px;
        }
    }
}