/* Roboto Font Family */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/RobotoRegular.woff2') format('woff2'),
         url('/fonts/RobotoRegular.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/RobotoMedium.woff2') format('woff2'),
         url('/fonts/RobotoMedium.woff') format('woff');
    font-weight: 500;
}

@font-face {
    font-family: 'RobotoBold';
    src: url('/fonts/RobotoBold.woff2') format('woff2'),
         url('/fonts/RobotoBold.woff') format('woff');
    font-weight: 700;
}

/* Body */
body {
    font-family: 'Roboto', sans-serif;
}

 
