.responsive(@frame-width, 850px, 0.02);

body {
  font-family: Roboto-Condensed, Roboto, 'Helvetica Neue', serif;
  background-color: @backgroundColor;

  #badge-wrap.hide {
    display: none !important;
  }

  .badge-header {
    margin-bottom: 40px;
    h1 {
      font-size: 18px;
      line-height: 20px;
      margin: 5px 0;
    }

    div {
      display: inline-block;
    }
    .counter-text {
      width: 200px;
    }
    span.counter {
      line-height: @counter-size;
      height: @counter-size;
      background-color: #d4cfcf;
      display: inline-block;
      font-size: 24px;
      font-weight: @bold-weight;
      color: @darkTealColor;
      border-radius: @counter-size / 2;
      padding: 0 @counter-size / 2;
      position: relative;
      top: -8px;
    }
  }

  .badge-filter {
    height: 65px;
    text-align: center;

    .btn-group {
      .btn {
        border-color: @textColor;
      }
      .selected {
        background-color: #dadada;
        background-image: linear-gradient(
          rgb(200, 200, 200),
          rgb(219, 219, 219)
        );
      }
    }
  }

  .badge-list {
    .badge-view.locked {
      .kbadge {
        background-color: @white;
        z-index: 0;
        .badge-content {
          h3 {
            color: @textColor;
          }
        }
        a:hover,
        a:focus {
          text-decoration: none;
        }
      }
    }

    .badge-view {
      display: inline-block;
      margin-right: @badge-view-width * 0.1106;
      width: @badge-view-width;
      height: @badge-view-height;
      position: relative;

      .kbadge {
        background-color: @darkTealColor;
        padding: @badge-padding;
        border-radius: 4px;
        margin-bottom: 17px;
        height: @badge-height;
        width: @badge-view-width - (2 * @badge-padding);

        .badge-content {
          h3 {
            line-height: 20px;
            font-size: @fontSize;
            color: @white;
            overflow: hidden;
            height: 60px;
          }
          img.badgeImage {
            width: @badge-image;
            height: @badge-image;
          }
        }
      }

      .kbadge.back {
        position: absolute;
        top: 0;
        z-index: 10;
        background-color: rgba(3, 73, 97, 0.95);
        color: @white;
        padding: @badge-padding @back-horizontal-padding;
        width: @badge-view-width - (2 * @back-horizontal-padding);
        visibility: hidden;
        transition: visibility 0s linear 0.3s, opacity 0.3s linear;
        opacity: 0;

        text-align: left;

        h3 {
          font-size: 14px;
          margin: 0px;
          font-family: @font-bold;
          font-weight: @bold-weight;
        }

        a {
          background-color: @doneColor;
          width: @button-width;
          border-radius: 20px;
          height: 40px;
          display: block;
          text-align: center;
          color: @white;
          line-height: 40px;
          position: absolute;
          display: block;
          bottom: 16px;
          left: (@badge-view-width - @button-width) / 2;
        }

        a:hover,
        a:focus {
          text-decoration: none;
        }
      }
    }

    .badge-view:hover {
      .kbadge.back {
        visibility: visible;
        opacity: 1;
        transition-delay: 0s;
      }
    }
  }
}

@media @medium {
  .responsive(960px, 546px, 0);
}

@media @small {
  .responsive(776px, 546px, 0);

  body {
    .badge-header {
      span.counter {
        float: right;
        top: 0px;
        left: -143px;
      }
    }
  }
}

/**
* @frame-width: width of the frame/ content
* @intro-text-width: width of the intro text
* @badge-filter-scale: how smaller should the badge filter be compared to the content width to place it in the right position
*/
.responsive(@frame-width, @intro-text-width, @badge-filter-scale) {
  body {
    .badge-header {
      width: @frame-width;
      .intro-text {
        width: @intro-text-width;
      }
    }

    .badge-filter {
      width: @frame-width - (@frame-width * @badge-filter-scale);
      .btn-group {
        .btn {
          width: @frame-width * 0.173;
        }
      }
    }

    .badge-list {
      width: @frame-width;
    }
  }
}
