@import 'setup/variables.less';
@import 'modules/loginPopup.less';

.frontPageLoginBox {
    width: 560px;
    height: 284px;
}

.login-box__lower {
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.unitPartners {
    margin: auto;
}

.unitPartnersLogo {
    height: 20px;
}
.unitPartnersSmallLogo {
    height: 15px;
}

/*
//Cannot hide login box because it is used to logout too!
.ic-Login {
    display:none;
}*/