.btnVimeoSeek {
    cursor: pointer;
}

.vimeoCaptionActive {
  background-color: @captionHighLightedColor;
  outline: 1px solid rgba(42,181,115,.5);
  outline-offset:-1px;
}

.btnVimeoSeek:hover {
  background-color: @captionHoverColor;
}
div.transcript {
  height: 110px;
  min-height: 110px;
  border: 1px solid;
  padding-top: 0px; 
  padding-left: 10px;
  resize: vertical;
  overflow: auto;
  scroll-behavior: smooth;  
}

.vimeoSelectLanguage {
  float: right; 
}
  