.btnVimeoSeek {
    cursor: pointer;
}
.btnVimeoSeek:active {
  background-color: yellow;
}
.btnVimeoSeek:hover {
  background-color: lightskyblue;
}
div.transcript {
  width: 100%;
  height: 110px;
  min-height: 110px;
  border: 1px solid;
  padding: 20px; 
  resize: vertical;
  overflow: auto;
  scroll-behavior: smooth;  
}
  