<ul id="mmooc-notifications">
{{#each activities}}
    <li class="{{checkReadStateFor this}}"><a href="{{findRightUrlFor this}}">{{title}}<br><span class="mmooc-notification-type">{{localize type}}</span></a></li>
{{/each}}

</ul>

<a href="#" id="mmooc-notifications-showall">Vis alle</a>