<ul id="mmooc-notifications">
{{#each activities}}
    <li class="{{#mmooc.menu.checkReadStateFor this}}unread{{/mmooc.menu.checkReadStateFor}}"><a href="{{html_url}}">{{title}}<br><span class="mmooc-notification-type">{{localize type}}</span></a></li>
{{/each}}

</ul>

<a href="#" id="mmooc-notifications-showall">Vis alle</a>