<div class="mmooc-all-courses">
    <!-- TODO: use translation feature -->
    <h1>Tilpasset sideoverskrift</h1>
    <p>Det er et velkjent faktum at lesere distraheres av lesbart innhold på en side når man ser på dens layout. Poenget med
        å bruke Lorem Ipsum er at det har en mer eller mindre normal fordeling av bokstaver i ord, i motsetning til 'Innhold
        her, innhold her', og gir inntrykk av å være lesbar tekst.</p>
    <!--If the amount of courses is large, the filter select box and corresponding javascript code in enroll.js should be enabled
    <select id='filter'></select>
    -->
    <h3>Alle tilgjengelige {{courseLabel}}</h3>
    <div class="mmooc-all-courses-list"></div>
</div>