<div class="mmooc-all-courses">
    <h1>Tilgjengelige studier</h1>
    <a class="btn" href="/courses">Til mine kurs</a>
    <select id='filter'></select>
    <div class="mmooc-all-courses-list"></div>
</div>
