<div class="mmooc-all-courses">
    <h1>Alle tilgjengelige {{courseLabel}}</h1>
    <a class="btn" href="/courses">Til mine {{courseLabel}}</a>
<!--If the amount of courses is large, the filter select box and corresponding javascript code in enroll.js should be enabled
    <select id='filter'></select>
-->
    <div class="mmooc-all-courses-list"></div>
</div>
