<div class="mmooc-all-courses">
    <!-- TODO: use translation feature -->
    <div class="mmooc-all-courses-header">
    <h1>Velkommen til Utdanningsdirektoratets kompetanseportal</h1>
    {{#if isAuthenticated}}
      <button id="mmooc-all-courses-btn" class="btn">Til mine kompetansepakker</button>
    {{/if}}
    </div>
    {{#if isMobileOrTablet}}
    <div class="uob-warning">Det ser ut som du bruker en mobil enhet. Vi jobber med saken, men innholdet på kompetanse.udir.no 
      er ikke optimalisert for mobile enheter enda. 
      Vi anbefaler derfor at du bruker en PC i stedet. Dersom du allikevel velger å jobbe videre med din mobile enhet må du være oppmerksom på  
      at visningen av innholdet i noen tilfeller kan være av dårlig kvalitet.
    </div>
    {{/if}}
    {{#if isAuthenticated}}
      Her finner du en oversikt over alle tilgjengelige kompetansepakker som du kan melde deg på. 
    {{else}}
      Tjenesten er laget for ansatte i skole og barnehage. Den er gratis og du kan logge på med Feide eller 
      opprette en <span class="tooltip tooltip-underline">egen bruker<span class="tooltiptext">Første gang du skal logge på med egen bruker må du registrere deg i en av kompetansepakkene nedenfor. Deretter kan du logge inn med knappen oppe til høyre.</span></span>. 
    {{/if}}    
    <!--If the amount of courses is large, the filter select box and corresponding javascript code in enroll.js should be enabled
    <select id='filter'></select>
    -->
<!--    <h3>Alle tilgjengelige {{courseLabel}}</h3>-->
    <br><br>
    <div class="mmooc-all-courses-list"></div>
</div>
