<div class="mmooc-all-courses">
    <h1>Alle tilgjengelige {{courseLabel}}</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque magnam ut, natus iste eveniet accusamus iure non nesciunt
        sint doloribus porro, ea sit voluptatibus harum error, neque laborum quia. Possimus.</p>
    <!--If the amount of courses is large, the filter select box and corresponding javascript code in enroll.js should be enabled
    <select id='filter'></select>
    -->
    <div class="mmooc-all-courses-list"></div>
</div>