<div class="badge-intro-container">
    <h4>Kurs utmerkelser</h4>
    <span>Her er oversikt over utmerkelser du har fått og som du kan få.</span><br/>
    <span>Utemrkelsene er kun for dette kurset.</span>
    <div class="filter-bar btn-group">
        <div type="button" class="btn btn-default btn-sm">Alle utemerkelser</div>
        <div type="button" class="btn btn-default btn-sm">Dine utemerkelser</div>
        <div type="button" class="btn btn-default btn-sm">Uoppnådde utemerkelser</div>
    </div>
</div>
