<div class="span3">
    <div class="thumbnail text-center">
        <a href="javascript:void(0)" onclick="openmypage(299,40,21,4); return false"><img src="https://beta.matematikk.mooc.no/badgesafe/badge/40/images/moocundervisningskunnskap.png" style="max-width: 125px"></a>
        <h3>Modul 1.1</h3>
        <p>Modul 1.1</p><p>You have completed the modules required to achieve this badge. </p>
        <!--<div class="progress active">
            <div class="bar bar-success" style="width: 10%;">
                <div class="bar bar-success" style="width: 10%;"></div>
            </div>
        </div>-->
        <p id="badge-btn-22"><a href="javascript: void(0);" class="claimbadge btn" badge-url="https://beta.matematikk.mooc.no/badgesafe/badge/40/4/299-znegva@reyraqguhar.pbz-assertion.json" badge-name="Modul 1.1" badge-earner="martin@erlendthune.com" award-id="22">Export</a></p>
        <p>Module</p>
    </div>
</div>