<div class="mmooc-course-list-progress">
	{{#with course}}
		{{#with course_progress}}
			{{#if requirement_count}}
	            <div class="mmooc-progress-bar{{#ifEquals requirement_completed_count requirement_count}} mmooc-progress-bar-done{{/ifEquals}}">
	                <div class="mmooc-progress-bar-inner" style="width:{{percentage requirement_completed_count requirement_count}}%">
	                </div>
	            </div>
			{{/if}}
		{{/with}}
	{{/with}}
</div>
