<div class="mmooc-course-progress">
    <div>
        <div class="mmooc-course-progress-label">Din kursprogresjon:</div>
        <div class="mmooc-course-progress-bar">
            <div class="mmooc-progress-bar{{#ifAllModulesCompleted modules}} mmooc-progress-bar-done{{/ifAllModulesCompleted}}">
                <div class="mmooc-progress-bar-inner" style="width:{{percentageForModules modules}}%">
                </div>
            </div>
        </div>

    </div>
</div>