<div class="mmooc-course-list">
    <h1>Mine studier</h1>
    <div class="mmooc-row">
		{{#each courses}}
            <div id="course_{{id}}" class="mmooc-size-1of3">
                <div class="mmooc-course-list-item">
                    <div class="mmooc-course-list-heading">
                        <h2><a href="{{urlForCourseId id}}">{{name}}</a></h2>
                    </div>

                    <div class="mmooc-course-list-description">
						{{#if syllabus_body}}

							{{{syllabus_body}}}

						{{/if}}
                    </div>
                </div>
            </div>

		{{/each}}
    </div>
</div>