<div class="mmooc-course-list-container">
  <h1>Mine {{courseLabel}}</h1>
  <a class='btn btn-more-courses' href='/search/all_courses{{queryString}}'>Se alle tilgjengelige {{courseLabel}}</a>
</div>