I denne kompetansepakken benytter vi oss av grupper fra dataporten. For å se
 hvilke du kan melde deg inn i, må du logge deg på dataporten.<div>
 <button class="button" id="dataportenPopupLogin">Login dataporten</button>
 </div>
