<footer role="contentinfo" id="mmooc-footer" class="ic-app-footer">
    <div class="mmooc-license">
        <p class="public-license-text">Lisensnivå: Illustrasjoner og filmer utviklet i regi av prosjektet:
            <a href="http://creativecommons.org/licenses/by-nc-nd/4.0/"
                class="external" target="_blank" rel="license">
                <span>CC BY-NC-ND 4.0</span>
            </a>
            <br> Annet innhold utviklet i regi av prosjektet:
            <a href="http://creativecommons.org/licenses/by-nc-sa/4.0" class="external"
                target="_blank" rel="license">
                <span>CC BY-NC-SA 4.0</span>
            </a>
        </p>
    </div>
</footer>