<footer role="contentinfo" id="mmooc-footer" class="ic-app-footer">
    <div class="mmooc-license">
        <p class="public-license-text">
          {{#if privateLicense}}
              Lisensnivå: Illustrasjoner og filmer utviklet i regi av prosjektet:
              <a href="http://creativecommons.org/licenses/by-nc-nd/4.0/"
                  class="external_link" target="_blank" rel="license">
                  <span>CC BY-NC-ND 4.0</span>
              </a>
               Annet innhold utviklet i regi av prosjektet:
              <a href="http://creativecommons.org/licenses/by-nc-sa/4.0" class="external_link"
                  target="_blank" rel="license">
                  <span>CC BY-NC-SA 4.0</span>
              </a>
              <br>
            {{/if}}
            {{#if privacyPolicyLink}}
            <a  target="_blank" class="external_link" href="{{privacyPolicyLink}}">Personvernvilkår</a>
            {{/if}} 
            {{#if contactPoint}}
             | Kontakt oss: <a  target="_blank" class="external" href="mailto:{{contactPoint}}">{{contactPoint}}</a>
            {{/if}} 
        </p>
    </div>
</footer>