<div class="getTeachersHelpContainer">
    <div class="tooltip_below">
        <button type="button" id="mmooc-get-teachers-help" class="btn btn-primary getTeachersHelp">Tilkall veileder</button>
        <div class="tooltiptext">
        Sender en melding til veileder om at dere trenger hjelp i denne gruppediskusjonen. Dersom du trenger personlig veiledning kan du gjøre
        dette ved å sende en melding i innboks.
        </div>
    </div>
</div>    
    