<div id="mmooc-group-header">
    <div id="mmooc-group-members">
        <div class="mmooc-back-button">
            <a href="/groups/{{group.id}}/discussion_topics">Tilbake til {{group.name}}</a>
        </div>
    </div>
    <div id="mmooc-group-links">
        <p>
            <b>Videorom for gruppa:</b> <a target="_new" href="https://connect.uninett.no/gruppe{{groupId}}">https://connect.uninett.no/gruppe{{groupId}}</a>
        </p>
    </div>

</div>