<div id="mmooc-group-header">
    <div id="mmooc-group-members">
        <p><b>Gruppemedlemmer</b></p>

        <ul>
            <li>Anders</li>
            <li>Pål Einar</li>
            <li>Hans Jørgen</li>
        </ul>
    </div>
    <div id="mmooc-group-links">
        <p>
            <b>Videorom for gruppa:</b> <a href="https://connect.uninett.no/gruppe10">https://connect.uninett.no/gruppe10</a>
        </p>
    </div>

</div>