<div id="mmooc-group-header">
    <div id="mmooc-group-members">
        <div class="mmooc-back-button">
            <a href="/groups/{{group.id}}/discussion_topics">{{group.name}}</a>
        </div>
    </div>
    <div id="mmooc-group-links">
    </div>
</div>