<div class="getTeachersHelpContainer">
    <div class="tooltip_below">
        <button type="button" id="mmooc-get-teachers-help" class="btn btn-primary getTeachersHelp">Tilkall veileder</button>
        <div class="tooltiptext">
        {{hoverOverText}}
        </div>
    </div>
</div>    
    