<div id="fixed_bottom">
    <div id="masquerade_bar" class="ic-alert-masquerade-student-view">
      <div class="ic-alert-masquerade-student-view-module ic-alert-masquerade-student-view-module--header">
        <div class="ic-image-text-combo">
          <i class="icon-student-view"></i>
           <div class="ic-image-text-combo__text">
           {{#if expiredCommunity}}
Du er meldt inn i et fylke og/eller en kommune som har fått nytt kommunenummer. 
<span class="tooltip tooltip-underline"> Les mer.<span style="font-weight:normal;color:black" class="tooltiptext">

<p>
Velg tilhørighet på nytt
 i "Rolle og grupper"-fanen. 
</p>
<p>
Vær oppmerksom på at dersom du ønsker å ta vare på diskusjonsinnleggene fra gamle grupper, må disse kopieres til et tekstdokument, 
før du velger ny tilhørighet. 
</p>  
</span></span>
           <br/>
           {{/if}} 
           {{#if alertMsg}}
              {{alertMsg}}
           {{/if}} 
           {{#if observer}}
Du er inne i dette emnet som observatør. Du vil ikke kunne levere inn oppgaver, bidra i diskusjoner eller se hva andre har bidratt med.
           <br/>
           {{/if}} 
           {{#if pfdk}}
PfDK-MOOC er opprinnelig en lukket videreutdanning for lærere. Dette er den åpne versjonen. Du ser alt det faglige innhold, men kan ikke levere oppgaver, diskutere i forum eller få veiledning.
Ønsker du mer informasjon om videreutdanningen, se 
        <a class="icon-link" style="color:white" href="https://www.hvl.no/studier/studieprogram/pfdk/" target="_blank">hvl.no</a>
        eller 
        <a class="icon-link" style="color:white" href="(https://www.usn.no/studier/finn-studier/larer-lektor-og-pedagogikk/videreutdanning-i-profesjonsfaglig-digital-kompetanse-for-larere/"
        target="_blank">usn.no</a>
           <br/>
           {{/if}} 
           {{#if unmaintainedSince}}
           Vil du være med på brukertesting? 
           <span class="tooltip tooltip-underline"> Les mer.<span style="font-weight:normal;color:black" class="tooltiptext">
<p>
Utdanningsdirektoratet skal brukerteste kompetansepakker, og trenger din hjelp!
</p>
<p>
Kunne du tenkte deg å gi din mening/innsikt til oss som produserer innhold på kompetanse.udir.no?
</p>  
</span></span>
           <button class="button_brukertest" onclick="window.location.href='https://forms.office.com/Pages/ResponsePage.aspx?id=04XRjKY6lEWDPaBY2rtbbYlKoW2pvuFMksRihjhWMl9URFNDM0ZBNk1QT0Y4NTVHSktQVUtOSVlaTS4u'">Meld deg på!</button>
           <br/>

           {{/if}} 
          {{#if fishing}}
          Utdanningsdirektoratet søker brukere for tilbakemelding på kompetansepakker! Kunne du tenke deg å hjelpe til med å forbedre kompetansepakkene? Meld deg på her:
                <a class="icon-link" style="color:white" href="https://www.hvl.no/studier/studieprogram/pfdk/" target="_blank">Meld deg på!</a>
                eller 
                <a class="icon-link" style="color:white" href="(https://www.usn.no/studier/finn-studier/larer-lektor-og-pedagogikk/videreutdanning-i-profesjonsfaglig-digital-kompetanse-for-larere/"
                target="_blank">usn.no</a>
                  <br/>
          {{/if}}
           </div>
          </div>
      </div>
    </div>
</div>