<div class="login-box">
  <div class="login-box__upper">
    <p class="login-box__text">Logg inn</p>
    <div class="login-box__close"></div>
  </div>
  <div class="login-box__lower">
    <a class="login-box__feide" href="https://kompetanse.udir.no/login/saml">
      <p>Logg inn med Feide</p>
    </a>
    <a class="login-box__canvas" href="https://kompetanse.udir.no/login/canvas">
      <p>Logg inn med Canvas</p>
    </a>
  </div>
</div>