<div class="login-box">
  <div class="login-box__upper">
    <p class="login-box__text">{{logInText}}</p>
    <div class="login-box__close"></div>
  </div>
  <div class="login-box__lower">
    <a class="mmooc-button mmooc-button-primary" href="/courses?login=1&design=udir">
      <img src="{{logInFeideText}}">
    </a>
    <a class="mmooc-button mmooc-button-secondary" href="/login/canvas?normalLogin=1&design=udir">
      {{logInCanvasText}}
    </a>
  </div>
</div>
