<div class="login-box">
  <div class="login-box__upper">
    <p class="login-box__text">{{LogInText}}</p>
    <div class="login-box__close"></div>
  </div>
  <div class="login-box__lower">
    <a class="login-box__feide" href="/login/saml">
      <p>{{logInFeideText}}</p>
    </a>
    <a class="login-box__canvas" href="/login/canvas?normalLogin">
      <p>{{logInCanvasText}}</p>
    </a>
  </div>
</div>
