<nav aria-label="content" role="navigation">

    <div class="mmooc-module-items-back-to-course-button">
        <a href="{{urlForCourseId courseId}}">Tilbake til kursforsiden</a>
    </div>

    {{#with module}}
        <div class="header">
            {{name}}
        </div>

        {{#if items}}
            <ul class="mmooc-module-items">
                {{#each items}}
                    <li class="mmooc-module-item"><a class="{{#if isCurrent}}active{{/if}}" href="{{html_url}}">{{title}}{{#ifItemIsCompleted completion_requirement}}<i class="icon-check"></i>{{/ifItemIsCompleted}}</a></li>
                {{/each}}
            </ul>
        {{/if}}
    {{/with}}
</nav>