<nav aria-label="content" role="navigation">
    <div class="header">
        {{name}}
    </div>

    {{#if items}}
        <ul>
            {{#each items}}
                <li><a class="{{#if isCurrent}}active{{/if}}" href="{{html_url}}">{{title}}</a></li>
            {{/each}}
        </ul>
    {{/if}}
</nav>