<nav aria-label="content" role="navigation">

    <div class="mmooc-module-list-back-to-course-button">
        <a href="">Tilbake til kursforside</a>
    </div>


    <div class="header">
        {{name}}
    </div>

    {{#if items}}
        <ul class="mmooc-module-list">
            {{#each items}}
                <li class="mmooc-module-item"><a class="{{#if isCurrent}}active{{/if}}" href="{{html_url}}">{{title}}{{#ifItemIsCompleted completion_requirement}}<i class="icon-check"></i>{{/ifItemIsCompleted}}</a></li>
            {{/each}}
        </ul>
    {{/if}}
</nav>