<div class="mmooc-header">
  <div class="mmooc-header__logo">
    <a href="/courses" class="mmooc-header__logo--link"></a>
  </div>
  <button class="mmooc-header__login-button">Logg inn</button>
</div>