<div id="fixed_bottom">
  <div id="masquerade_bar" class="ic-alert-masquerade-student-view">
    <div class="ic-alert-masquerade-student-view-module ic-alert-masquerade-student-view-module--header">
      <div class="ic-image-text-combo">
        <i class="icon-student-view"></i>
        <div class="ic-image-text-combo__text">Du er inne i dette emnet som observatør</div>
      </div>
    </div>
    <div class="button-explanation ic-alert-masquerade-student-view-module ic-alert-masquerade-student-view-module--description">
      Du vil ikke kunne levere inn oppgaver, bidra i diskusjoner eller se hva andre har bidratt med.
    </div>
  </div>
</div>