<div class="mmooc-power-functions">
  <h1 class="xl">Power Functions</h1>

  <div class="mmooc-pf-list">
    <div id="mmooc-pf-group-btn" class="item">Create groups</div>
    <div class="item">Assign students to groups</div>
    <div class="item">Add new logins</div>
  </div>
</div>
