<div class="mmooc-power-functions">
  <h1 class="xl">Power Functions</h1>
  <h2>Add new logins to students</h2>
  <p><a href="/?mmpf">Back</a></p>

  <form>
    <dl>
      <dt><label for="csv">Upload CSV file</label></dt>
      <dd><input type="file" name="csv"></dd>
    </dl>
    <input type="submit"/>
  </form>

  <div class="side-information">
    <p>
      Description of CSV format
    </p>
  </div>
</div>
