<div id="kompetansePortalPrivacyPolicyBox" class="privacyPolicyBox">
    <div class="privacyPolicyBox__upper">
    <div class="privacyPolicyBox__text">
        <div class="privacyPolicyHeading">Endring i personvernspolitikk</div>
    </div>
    </div>
    <div class="privacyPolicyBox__privacyPolicyInfo">
        Vi har oppdatert vår personvernpolitikk og du må godta denne før du kan fortsette å jobbe i kompetanseportalen.
    </div>
    <div class="privacyPolicyBox__privacyPolicyCheck">
        <input type="checkbox" id="kompetansePortalPrivacyPolicy" name="kompetansePortalPrivacyPolicy" value="true">
        <label for="kompetansePortalPrivacyPolicy"> Jeg godtar <a href="{{privacyPolicyLink}}" target="_blank">personvernpolitikken</a></label><br>
    </div>            
    <div class="privacyPolicyBox__lower">
        <button disabled="true" id="kompetansePortalPrivacyPolicyButton" class="btn btn-primary" type="submit">Lagre</button>
    </div>
</div>

