        {{#each languageTracks}}
        <option value="{{this.language}}" 
        {{#ifEquals this.language ../selectedLanguage}}
            selected
        {{/ifEquals}}
        >{{this.label}}</option>
        {{/each}}
