  <select style="display: none;" class="vimeoSelectLanguage" id="{{transcriptSelectId}}">
        {{#each languageTracks}}
        <option value="{{this.language}}">{{this.label}}</option>
        {{/each}}
  </select>
