<ul id="user-menu">
    <li class="mmooc-menu-item">
        <a href="#" class="mmooc-menu-item-title">Varsler</a>
        <div class="mmooc-menu-item-drop">
            <div id="mmooc-activity-stream"></div>
        </div>
    </li>
    <li class="mmooc-menu-item">
        <a href="/conversations" class="mmooc-menu-item-title">Innboks</a>
    </li>
    <li class="mmooc-menu-item">
        <a href="#" class="mmooc-menu-item-title">{{user.display_name}}</a>
        <div class="mmooc-menu-item-drop">
            <a href="/logout">Innstillinger</a><br>
            <a href="/logout">Logg ut</a>
        </div>
    </li>
</ul>