<div class="mmooc-power-functions">
  <h1 class="xl">Power Functions</h1>
  <h2>Assign students to groups</h2>
  <p><a href="/?mmpf">Back</a></p>

  <form>
    <dl>
      <dt><label for="csv">Upload CSV file</label></dt>
      <dd><input type="file" name="csv"></dd>
    </dl>
    <input type="submit"/>
  </form>

  <div class="side-information">
    <h3>Decription of CSV format</h3>
    <p>First line of the file must be the name of the columns. Column separators are commas. Fields optionally encloused by double quotes (").
    <dl>
      <dt>group_id [Integer]
      <dd>The group ID
      <dt>user_id [Integer]
      <dd>The user ID
    </dl>
  </div>
</div>
