<table>
  <thead>
    <tr>
      <th>Group ID</th>
      <th>Student ID</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {{#assigns}}
    <tr id="mmpf-assign-{{group_id}}-{{user_id}}">
      <td>{{group_id}}</td>
      <td>{{user_id}}</td>
      <td class="status waiting">Waiting</td>
    {{/assigns}}
  </tbody>
<table>

