<form>
  <ol>
    <li class="step-1">
      <select name="category"  onchange="$('.step-2').css('display', 'list-item')">
        {{#unless categories}}
          <option value="">No group sets defined for account</option>
        {{else}}
          <option value="">Choose a group set</option>
          {{#each categories}}
            <option value="{{id}}">{{name}}</option>
          {{/each}}
        {{/unless}}
      </select>
    <li class="step-2"><input type="file" name="csv"  onchange="$('.step-3').css('display', 'list-item')">
    <li class="step-3"><input type="submit"/>
  </ol>
</form>

<div class="side-information">
  <h3>Decription of CSV format</h3>
  <p>First line of the file must be the name of the columns. Column separators are commas. Fields optionally encloused by double quotes (").
  <dl>
    <dt>name [String]
    <dd>The name of the group
    <dt>description [String]
    <dd>A description of the group
  </dl>
</div>
