<div class="mmooc-power-functions">
  <h1 class="xl">Power Functions</h1>
  <h2>Processing group creations</h2>
  <p><a href="/?mmpf">Back</a></p>

  <table>
    <thead>
      <tr>
        <th>FIXME</th>
        <th>FIXME/th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {{#groups}}
      <tr id="mmpf-group-FIXME">
        <td>FIXME</td>
        <td>FIXME</td>
        <td class="status waiting">Waiting</td>
      {{/groups}}
    </tbody>
  <table>
</div>
