<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {{#groups}}
    <tr id="mmpf-group-{{@index}}">
      <td>{{name}}</td>
      <td>{{description}}</td>
      <td class="status waiting">Waiting</td>
    {{/groups}}
  </tbody>
<table>

