<div class="mmooc-power-functions">
  <h1 class="xl">Power Functions</h1>
  <h2>List groups</h2>
  <p><a href="/?mmpf">Back</a></p>

  <div>
    <form>
      <select name="account">
        <option value="">Choose the account...</option>
        {{#accounts}}
        <option value="{{id}}">{{name}}</option>
        {{/accounts}}
      </select>
    </form>
  </div>
  <div id="mmpf-group-result">
  </div>
</div>
