{{#unless groups}}
  <p>No groups found for account</p>
{{else}}
  <table>
    <tr><th>ID</th><th>Name</th><th>Description</th></tr>
    {{#each groups}}
      <tr>
        <td class="right">{{id}}</td>
        <td>{{name}}</td>
        <td>{{description}}</td>
      </tr>
    {{/each}}
  </table>
{{/unless}}
