<table>
  <thead>
    <tr>
      <th>User ID</th>
      <th>Login ID</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {{#each logins}}
    <tr id="mmpf-logins-{{@index}}">
      <td>{{user_id}}</td>
      <td>{{login_id}}</td>
      <td class="status waiting">Waiting</td>
    {{/each}}
  </tbody>
<table>
