<div class="mmooc-pf-main">
	<div class="mmooc-pf-list">
	  <div id="mmooc-pf-teacher-function-btn" class="item">Teacher functions</div>
	  <div id="mmooc-pf-admin-function-btn" class="item">Admin functions</div>
	</div>
</div>
