<div class="mmooc-pf-main">
	<h3>Teacher functions</h3>
	<div class="mmooc-pf-list">
	  <div id="mmooc-pf-peer-review-btn" class="item">Peer review</div>
	  <div id="mmooc-pf-student-progress-for-sections-btn" class="item">Student progress for sections</div>
	  <div id="mmooc-pf-student-progress-for-groups-btn" class="item">Student progress for groups</div>
	</div>
</div>
