<div class="mmooc-pf-main-teacher">
	<h3>Teacher functions</h3>
	<div class="mmooc-pf-list">
	  <div id="mmooc-pf-peer-review-btn" class="item">Peer review</div>
	  <div id="mmooc-pf-student-progress-btn" class="item">Student progress</div>
	</div>
</div>
