<div class="mmooc-pf-list">
  <div id="mmooc-pf-list-group-btn" class="item">List groups</div>
  <div id="mmooc-pf-group-btn" class="item">Create groups</div>
  <div id="mmooc-pf-assign-btn" class="item">Assign students to groups</div>
  <div id="mmooc-pf-logins-btn" class="item">Add new logins</div>
</div>
