<div class="mmooc-pf-main">
	<h3>Teacher functions</h3>
	<div class="mmooc-pf-list">
		<div id="mmooc-pf-peer-review-btn" class="item">Peer review</div>
		<div id="mmooc-pf-student-progress-btn" class="item">Student progress</div>
	</div>
	<h3>Administrator functions</h3>
	<div class="mmooc-pf-list">
		<div id="mmooc-pf-list-group-btn" class="item">List groups</div>
		<div id="mmooc-pf-group-btn" class="item">Create account groups</div>
		<div id="mmooc-pf-course-group-btn" class="item">Create course groups</div>
		<div id="mmooc-pf-assign-btn" class="item">Assign students to groups</div>
		<div id="mmooc-pf-logins-btn" class="item">Add new logins</div>
	</div>
</div>