<form>
  <ol>
    <li class="step-1">
      <select id="mmpf-course-select">
        {{#unless courses}}
          <option value="" disabled>No courses defined for account</option>
        {{else}}
          <option value="">Choose a course</option>
          {{#each courses}}
            <option value="{{id}}">{{name}}</option>
          {{/each}}
        {{/unless}}
      </select>
    <li class="step-2">
      <select id="mmpf-category-select" name="category">
          <option value="" disabled>No group sets defined for course</option>
      </select>
    <li class="step-3">
      <select id="mmpf-group-select" name="group" multiple>
          <option value="" disabled>No groups defined for course</option>
      </select>
    <li class="step-4">
      <select id="mmpf-assignment-select" name="assignment">
          <option value="" disabled>No assignments defined for course</option>
      </select>
  </ol>
  <div class="assignment-info"></div>
  <div class="progress-info"></div>
  <div id="progress">
  	<div id="bar"></div>
  </div>
  <div class="peer-review-list"></div>
  <div class="peer-review-create"></div>
</form>
