<form>
  <ol>
    <li class="step-1">
      <select id="mmpf-course-select">
        {{#unless courses}}
          <option value="">No courses defined for account</option>
        {{else}}
          <option value="">Choose a course</option>
          {{#each courses}}
            <option value="{{id}}">{{name}}</option>
          {{/each}}
        {{/unless}}
      </select>
    <li class="step-2">
      <select id="mmpf-section-select" name="section">
          <option value="">No sections defined for course</option>
      </select>
    <li class="step-3">
      <select id="mmpf-module-select" name="module">
          <option value="">No modules defined for course</option>
      </select>
  </ol>
  <div id="progress">
  	<div id="bar"></div>
  </div>
  <div class="student-progress-table"></div>
</form>
