<form>
  <h1>{{course.name}}</h1>
  <ol>
    <li class="step-2">
      <select id="mmpf-category-select" name="category">
          <option value="">No group categories defined for course</option>
      </select>
    </li>
    <li class="step-3">
      <select id="mmpf-group-select" name="group">
          <option value="" disabled>No groups defined for course</option>
      </select>
    </li>
    <li class="step-4">
      <select id="mmpf-module-select" name="module">
          <option value="">No modules defined for course</option>
      </select>
    </li>
  </ol>
  <div id="progress">
  	<div id="bar"></div>
  </div>
  <div class="student-progress-table"></div>
</form>
