<div class="span3">
    <div class="thumbnail text-center">
        <a class="badge-content" href="{{link}}">
            <img src="{{badgeImage}}">
            <span>{{name}}</span>
        </a>
        <div class="badge-type">{{type}}</div>
    </div>
    <div class="thumbnail-back text-center">
        <h3>TIPS</h3>
        <span class="criteria"></span>
        <a href="tilModul"></a>
    </div>
</div>