on:
  workflow_call:
    inputs:
      node_version:
        type: string
        description: 'Node.js version'
        required: true
      app_env:
        type: string
        description: 'Application environment'
        required: true
      app_version:
        type: string
        description: 'Application version'
        required: true
      canvas_username:
        type: string
        description: 'Canvas username'
        required: true
    secrets:
      canvas_password:
        description: 'Canvas password'
        required: true

jobs:
  deploy-canvas:
    name: Deploy - Canvas
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: Utdanningsdirektoratet/dit-github-actions/github/runtimes@v1
        with:
          node-version: ${{ inputs.node_version }}
          node-pms: pnpm
      - uses: Utdanningsdirektoratet/dit-github-actions/js/install@v1
      - uses: Utdanningsdirektoratet/dit-github-actions/js/playwright@v1
        with:
          browsers: chromium
      - name: Run Playwright Tests
        run: pnpm exec playwright test ./tests/canvas/deploy-theme.spec.js
        env:
          APP_ENV: ${{ inputs.app_env }}
          APP_VERSION: ${{ inputs.app_version }}
          BASIC_AUTH_USERNAME: ${{ inputs.canvas_username }}
          BASIC_AUTH_PASSWORD: ${{ secrets.canvas_password }}
          CI: true
      - name: Generate Markdown Report
        id: generate-markdown
        run: node .github/playwright/markdown-reporter.js
      - name: Upload Markdown Report to GitHub Summary
        run: |
          cat ./playwright-report/report.md >> $GITHUB_STEP_SUMMARY
