// hides existing content on /search/all_courses
#course_filter,
#catalog_content {
  height: 0;
  width: 0;
  overflow: hidden;
}

.mmooc-all-courses {
  max-width: 1146px;
  margin-top: 55px;

  .mmooc-all-courses-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    @media screen and (max-width: 680px) {
      h1 {
        padding-bottom: 10px;
      }

      flex-direction: column;
      align-items: flex-start;
    }
  }

  h1 {
    font-family: Roboto;
    font-size: 32px;
    color: @textColor;
  }

  p {
    margin-bottom: 80px;
    font-family: Roboto;
    font-size: 16px;
    color: @textColor;
    letter-spacing: 0;
    line-height: 24px;
    float: left;
  }
}


.mmooc-loader-wrapper {
  span {
    display: block;
    margin: 20px auto;
  }
}


