.mmooc-back-button {
    margin-bottom: 22px;

    a, span {
        font-weight: bold;
    }
    a:before, span:before{
        content: "\2B05";
        margin-right: 4px;
    }
    span {
        color: @linkColor;
        cursor: pointer;
    }
}

.mmooc-action-button {
    position: absolute;
    top: 0;
    right: 0;
}


