#mmooc-group-header {
    &:after {
        content: "";
        display: table;
        clear: both;
    }

    #mmooc-group-members {
        float: left;
        margin-right: 100px;
    }

    #mmooc-group-links {
        float: left;
    }
}