.page-title {
    font-size: 2.5em !important;
}

@media screen and (max-width: 480px) {
    .page-title {
        font-size: 1.8em !important;
    }
}

@media screen and (min-width: 481px) and (max-width: 480px) {
    .page-title {
        font-size: 2.0em !important;
    }
}

