.mmooc-module-item {
    i.icon-check {
        float: right;
        color: @doneColor;
    }
}

.mmooc-module-items-back-to-course-button {
    text-align: center;

    a {
        font-weight: bold;
    }
    a:before {
        content: "\2B05";
        margin-right: 4px;
    }
}