.mmooc-module-item {
    a, span {
        display: inline-block;
        padding-right: 30px !important;
        position: relative;

    }
  span.mmooc-module-item-title {
    width: 85%;
    padding: 0px !important;
    white-space: normal;
  }

}

.mmooc-module-items li.mmooc-module-item-icon {

  a {
    padding: 7px 12px 7px 12px!important;
  }

  span[class*="mmooc-module-items-icons-"], span[class^="mmooc-module-items-icons-"] {
    border-radius: 3px;
    background: grey;
    display: inline-block;
//    width: 16px;
    width: 10%;
    height: 20px;
    padding: 2px !important;
    text-align: center;
    margin-right: 2px;
    margin-bottom: 2px;
    float: right;

    i[class*="icon-"], i[class^="icon-"] {
      color: #FFF;
    }

    &.done {
      background: @doneColor;
    }
  }

}

.mmooc-module-items-back-to-course-button {
    text-align: center;
    a, span {
        font-weight: bold;
    }
    a:before, span:before {
        content: "\2B05";
        margin-right: 4px;
    }
}

#not_right_side  .mmooc-module-items-back-to-course-button {
    text-align: left;
}