.mmooc-progress-bar {
  background-color: #d8d8d8;
  border-radius: 5px;
  border-bottom: 1px solid #ebebeb;
  box-shadow: inset 0 1px 1px 0 #a6a6a6;
  .mmooc-progress-bar-inner {
    border-radius: 5px;
    height: 9px;
    color: #fff;
    background-color: @darkTealColor;
    text-align: right;
    border-bottom: 1px solid #7fa4af;
    margin-bottom: -1px;
  }
}

.mmooc-progress-bar-done {
  .mmooc-progress-bar-inner {
    background-color: @doneColor;
    border-bottom: 1px solid #f0fbf6;
  }
}

.mmooc-course-progress {
  display: table;
  width: 100%;
  margin-bottom: 40px;
  height: 22px; /* Fixed height to justify right column */
  > div {
    display: table-row;

    .mmooc-course-progress-label {
      display: table-cell;
      white-space: nowrap;
    }

    .mmooc-course-progress-bar {
      padding-left: 1em;
      display: table-cell;
      width: 100%;
    }
  }
}

.loading-gif {
  width: 20px;
  height: 20px;
  background: url('https://server/bitmaps/loading.gif') no-repeat center center;
  background-size: 70px;
  display: inline-block;
}

.loading-unread {
  float: left;
  margin-right: 30px;
}
