#application.ic-app {

    #user-menu {
        bottom: 5px;
        right: 5px;
        margin: 0;
        
        .mmooc-menu-item {
            
            &.profile-settings {
                position: relative;
                top: -4px;
                
                .mmooc-menu-item-drop {
                    left: -70px;
                    
                    ul {
                        
                        li {
                            
                            a {
                                padding: 5px 0;
                            }
                            
                            &:first-of-type {
                                border-bottom-width: 0;
                                
                                a {
                                    padding-top: 3px;
                                }
                            }
                            &:last-of-type {
                                
                                a {
                                    padding-top: 8px;
                                }
                                
                            }
                            
                            &#helpMenu {
                                border-top-width: 0;
                                
                                a {
                                    padding-bottom: 10px;
                                }
                                
                            }
                        }   
                    }
                    
                }
                
                .ic-avatar {
                    width: 32px;
                    height: 32px;
                }
            }
        }
    }
}