#application.ic-app {

    #user-menu {
        bottom: 5px;
        right: 5px;
        margin: 0;
        
        .mmooc-menu-item {
            
            &.profile-settings {
                position: relative;
                top: -4px;
                
                .mmooc-menu-item-drop {
                    left: -70px;
                }
                
                .ic-avatar {
                    width: 32px;
                    height: 32px;
                }
            }
        }
    }
}