.mmooc-menu-item {
    float: left;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    position: relative;
    margin-right: 10px;

    .mmooc-menu-item-title {
        color: #FFF;
        text-decoration: none;
        padding: 10px 30px 10px 20px;

        &:hover {
            color: #FFF;
        }
    }

    .mmooc-menu-item-drop {
        display: none;
        position: fixed;
        background: @darkTealColor;
        ul {
            margin: 40px 15px 10px 35px;

            li {
                padding: 0;
                color: #09f6ff;
                list-style: none outside none;

                a {
                    color: #FFF;
                    font-size: 14px;
                    line-height: 15px;
                    display: block;
                    padding: 3px 0;
                }

                .mmooc-notification-type {
                    font-size: 12px;
                    font-style: italic;
                    color: #cecece;
                }

                border-top: 1px solid #105569;
                border-bottom: 1px solid #3F7687;

                &:first-of-type {
                    border-top: none;
                }

                &:last-of-type {
                    border-bottom: none;
                }

                &.unread {
                    list-style: disc outside;
                }

            }
        }
    }

    &:hover .mmooc-menu-item-drop {
        display: block;
    }

}

#mmooc-notification-count {
    display: none;
    color: @darkTealColor;
    background: #09f6ff;
    border-radius: 8px;
    font-size: 12px;
    line-height: 12px;
    min-width: 12px;
    padding: 2px;
    position: absolute;
    text-align: center;
    font-weight: bold;
    top: -8px;
}